.home-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-title {
  font-size: 40px;
  font-weight: bold;
  color: #e74c3c;
}
