.square {
  width: 33.333%;
  height: 33.333%;
  background-color: transparent;
  border: 1px solid #bdc3c7;
  transition: .3s;
  vertical-align: top;
}

span {
  font-size: 50px;
  font-weight: bold;
  line-height: 34px;
  color: #6c5ce7;
  padding: 0;
}

.square:hover {
  opacity: .5;
  transition: .3s;
  cursor: pointer;
}
