.game-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.info-container {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.game-title {
  font-size: 40px;
  font-weight: bold;
  color: #e74c3c;
  margin-bottom: 10px;
}
